.pdf-link-parent {
  padding: 0.5em 1em 2em 1em;
}
.resume-container {
  margin-top: 1em;
  margin-bottom: 3em;
  font-family: 'Raleway', sans-serif;
}
.resume-header {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 1.2em;
}
.resume-subheader {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.technologies-container {
  padding-right: 0;
}
.technologies-row-1 {
  display: inline-block;
}
.technologies-row-2 {
  display: inline-block;
  width: 65%;
}
.no-padding {
  padding: 0;
}
@media (min-width: 576px) {
  .resume-container {
    border: 1px solid #cccccc;
    padding: 1em;
  }
}
