.bold {
    font-weight: bold;
}
.home-container {
    margin-top: 1em;
    font-family: 'Raleway', ;
}
.home-image {
    padding: 3em;
    border: none;
}
.about-header {
    display: flex;
    margin-top: 7em;
    font-size: 1.1em;
}
.home-button {
    border-radius: 0;
}