a.nav-header {
  color: black !important;
}
nav.navbar {
  padding-bottom: 0;
}
.nav-links {
  padding-top: 0;
}
.nav-link {
  font-size: 1em;
  font-family: 'Roboto';
}
.nav-header {
  font-family: 'Stalemate';
  font-size: 2.3em;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .nav-header {
    font-size: 4em;
    margin-top: 1em;
  }
}

// Bootstrap breakpoints 576px, 768px, 992px, 1200px